<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <% for (var i=0; i < data.length; i++) { %>
        <section class="test">
            <div>
                <h1>Module Numéro <%= data[i].id %></h1>
                <%= data[i].module %>
            </div>
            <div>
                <h1>Température</h1>
                <%= data[i].temp %>
            </div>
            <div>
                <h1>Vitesse</h1>
                <%= data[i].id %>
            </div>
            <div>
                <h1>Donnée envoyer</h1>
                <%= (Math.floor(Math.random()* 10000)) %>
            </div>
            <div>
                <h1>Durée de fonctionnement</h1>
                <%= (Math.floor(Math.random()* 1000))%>
            </div>
            <div>
                <h1>Status</h1>
                <%= (Math.random()>=0.5)? "Online" : "Offline" %>
            </div>
        </section>
    <% } %>
    <canvas id="barChart"></canvas>

    
</body> 


<script src="https://code.jscharting.com/latest/jscharting.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
<script>
Chart.register(ChartDataLabels);
new Chart("barChart", {
    type: 'line',
  data: {
    labels: [new Date(), new Date(), new Date()],
    datasets: [{
      label: 'Data',
      data: [Math.floor(Math.random()* 100), Math.floor(Math.random()* 100), Math.floor(Math.random()* 100)],
      backgroundColor: 'rgb(124, 124, 255)',
      barPercentage: 0.5
    }]
  },
  options: {
    plugins: {
      datalabels: {
        color: 'white',
        font: {
          weight: 'bold'
        }
      }
    }
  }
});
</script>
</html>